<div class="jumbotron">
 

    


    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
     

     
{{dt | date:'fullDate' }}
  <select ng-model = "chal" ng-options="channel.desc for channel in channels">
  </select>
  
  <div class="selectedlisting" ng-repeat="list in chal.titles">
      {{list.start}} - {{list.stop}} :  {{list.title}} : {{list.category}} 
  </div>

 
</div>
