<div class="jumbotron">
 

    


    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
               <div>
        <h4>Select Date</h4>
        <ng-datepicker ng-model="dt">
        </ng-datepicker>
      </div>
 
            </p>
        </div>
    </div>
     

     
{{dt | date:'fullDate' }}
  <select ng-model = "chal" ng-options="channel.desc for channel in channels">
  </select>
  
  <div class="selectedlisting" ng-repeat="list in chal.titles">

      {{list.startTime}} - {{list.endTime}} :  {{list.title}} : {{list.category}} 
  </div>

    
 
</div>
